# Tasks for Session-4 (Pandas_DataFrames)

**Bir film veri setini işlemek için bir program geliştirmenizi istiyoruz. Veri seti, film adı, kategori, derecelendirme ve süre bilgilerini içeren bir pandas DataFrame olarak temsil edilmektedir.**

**Kullanıcıdan film adı, kategori, derecelendirme ve süre bilgilerini alarak bunlardan bir DataFrame oluşturun. DataFrame sütunları "Film_Adı", "Kategori", "Derecelendirme" ve "Süre" olsun.**

### Sinema derecelendirme kategorileri:

**G (General Audiences) - Genel İzleyici:** Her yaş grubundan izleyici için uygundur.Herhangi bir sınırlama olmadan herkes tarafından izlenebilir.

**PG (Parental Guidance) - Ebeveyn Rehberliği:** ocukların izlemesine uygun olan ancak ebeveynlerin rehberlik yapması gereken filmleri ifade eder. Bazı sahneler veya konular çocukları korkutabilir veya rahatsız edebilir.

**PG-13 (Parents Strongly Cautioned) - 13 Yaşından Küçüklere Ebeveyn Önerisi:** Bu kategori, 13 yaşından küçük izleyicilere ebeveynlerin rehberlik yapması gereken filmleri ifade eder. Şiddet, dil veya bazı yetişkin temalar içerebilir.

**R (Restricted) - Sınırlı:** 17 yaşından küçükler için ebeveyn gözetimi veya 17 yaşından küçük izleyicilere uygun olmayan filmleri ifade eder. Şiddet, cinsellik, küfür veya uyuşturucu kullanımı gibi yetişkin içerikleri içerebilir.

**NC-17 (Adults Only) - 17 yaşından küçüklere uygun değil:** 1yaşından küçük izleyicilere uygun olmayan ve sadece yetişkinlere yönelik filmleri ifade eder. Cinsellik, şiddet, aşırı kanlı sahneler veya diğer yetişkin içerikler içerebilir.

Bu derecelendirme kategorileri genel olarak Amerikan sinema endüstrisinde kullanılan MPAA (Motion Picture Association of America) derecelendirme sistemine dayanmaktadır. Diğer ülkelerde farklı derecelendirme sistemleri ve kategoriler kullanılabilir.

In [2]:
import pandas as pd

In [ ]:
import pandas as pd

def create_film_dataframe():
    film_list = []
    
    while True:
        film_name = input("Film adını girin (veya çıkmak için 'q' tuşuna basın): ")
        if film_name.lower() == 'q':
            break
        
        category = input("Kategori girin: ")
        rating = float(input("Derecelendirme girin: "))
        duration = int(input("Süre girin (dakika cinsinden): "))
        butce = int(input("Film bütçesini girin: "))
        
        film_list.append({
            "Film_Adı": film_name,
            "Kategori": category,
            "Derecelendirme": rating,
            "Süre": duration,
            "Bütçe": butce
        })

    film_df = pd.DataFrame(film_list)
    return film_df

if __name__ == "__main__":
    film_dataframe = create_film_dataframe()
    print("\nOluşturulan Film DataFrame'i:")
    print(film_dataframe)

In [10]:
# Alternatif olarak hazır bir DataFrame:

data = {
    'Film_Adı': ['Film 1', 'Film 2', 'Film 3', 'Film 4', 'Film 5'],
    'Kategori': ['Aksiyon', 'Drama', 'Komedi', 'Drama', 'Aksiyon'],
    'Derecelendirme': [6.7, 8, 5.8, 7.2, 6.5],
    'Süre': [120, 105, 90, 135, 100],
    'Bütçe': [1500000, 500000, 2000000, 1000000, 3000000]
}

df = pd.DataFrame(data)
df

  Film_Adı Kategori  Derecelendirme  Süre    Bütçe
0   Film 1  Aksiyon             6.7   120  1500000
1   Film 2    Drama             8.0   105   500000
2   Film 3   Komedi             5.8    90  2000000
3   Film 4    Drama             7.2   135  1000000
4   Film 5  Aksiyon             6.5   100  3000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Film_Adı        5 non-null      object
 1   Kategori        5 non-null      object
 2   Derecelendirme  5 non-null      float64
 3   Süre            5 non-null      int64
 4   Bütçe           5 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 328.0+ bytes

## Task1: Girilecek bir kategoriye ait filmleri ekrana yazdıran bir program yazın:

In [12]:
kategori = input("Bir kategori girin: ")
print("\nSeçilen kategori: ", kategori)
df[df['Kategori'] == kategori]

Bir kategori girin: Drama

Seçilen kategori:  Drama

  Film_Adı Kategori  Derecelendirme  Süre    Bütçe
1   Film 2    Drama             8.0   105   500000
3   Film 4    Drama             7.2   135  1000000

## Task 2: En Yüksek Bütçeli Filmi Bulun.

In [25]:
# print("En Yüksek Bütçeye Sahip Film:\n", df.loc[df['Bütçe'].idxmax()][["Film_Adı", "Bütçe"]])

print("\nEn Yüksek Bütçeye Sahip Film:")
df[df["Bütçe"] == df["Bütçe"].max()]

En Yüksek Bütçeye Sahip Film:
 Film_Adı     Film 5
Bütçe       3000000
Name: 4, dtype: object

En Yüksek Bütçeye Sahip Film:

  Film_Adı Kategori  Derecelendirme  Süre    Bütçe
4   Film 5  Aksiyon             6.5   100  3000000

## Task3: En uzun süreli film ve en pahalı yapım hangileridir?

In [26]:
df['Süre'] = df['Süre'].astype(float)
df["Bütçe"] = df["Bütçe"].astype(float)

display("En uzun süreli film: ", df.loc[[df["Süre"].idxmax()]][["Film_Adı", "Süre"]])
display("En pahalı yapım: ",  df.loc[[df["Bütçe"].idxmax()]][["Film_Adı", "Bütçe"]])

'En uzun süreli film: '

  Film_Adı   Süre
3   Film 4  135.0

'En pahalı yapım: '

  Film_Adı      Bütçe
4   Film 5  3000000.0

## Task 4: Aksiyon filmlerinin en uzunu hangisidir?

In [27]:
df[(df["Kategori"] == "Aksiyon")]

  Film_Adı Kategori  Derecelendirme   Süre      Bütçe
0   Film 1  Aksiyon             6.7  120.0  1500000.0
4   Film 5  Aksiyon             6.5  100.0  3000000.0

In [28]:
df_Aksiyon = df[(df["Kategori"] == "Aksiyon")]

df_Aksiyon.loc[df_Aksiyon[["Süre"]].idxmax()]

# df[(df["Kategori"] == "Aksiyon")].loc[df[(df["Kategori"] == "Aksiyon")][["Süre"]].idxmax()]

  Film_Adı Kategori  Derecelendirme   Süre      Bütçe
0   Film 1  Aksiyon             6.7  120.0  1500000.0

## Task 5: Her kategorinin en uzun filmini bulun. (kategorileri seçmek için `for döngüsü` kullanın)

In [133]:
df

  Film_Adı Kategori Derecelendirme   Süre      Bütçe
0   Film 1  Aksiyon          PG-13  120.0  1500000.0
1   Film 2    Drama              R  105.0   500000.0
2   Film 3   Komedi             PG   90.0  2000000.0
3   Film 4    Drama              R  135.0  1000000.0
4   Film 5  Aksiyon          PG-13  100.0  3000000.0

In [29]:
categories = df["Kategori"].values
categories

array(['Aksiyon', 'Drama', 'Komedi', 'Drama', 'Aksiyon'], dtype=object)

In [30]:
for i in categories:
    print(f"{i} kategorisinde en uzun süreli film: ")
    display(df.loc[df[df["Kategori"] == i]["Süre"].idxmax(), ["Film_Adı", "Süre"]])
    print("----" * 10)

Aksiyon kategorisinde en uzun süreli film:

Film_Adı    Film 1
Süre         120.0
Name: 0, dtype: object

----------------------------------------
Drama kategorisinde en uzun süreli film:

Film_Adı    Film 4
Süre         135.0
Name: 3, dtype: object

----------------------------------------
Komedi kategorisinde en uzun süreli film:

Film_Adı    Film 3
Süre          90.0
Name: 2, dtype: object

----------------------------------------
Drama kategorisinde en uzun süreli film:

Film_Adı    Film 4
Süre         135.0
Name: 3, dtype: object

----------------------------------------
Aksiyon kategorisinde en uzun süreli film:

Film_Adı    Film 1
Süre         120.0
Name: 0, dtype: object

----------------------------------------

## Task 6: Her kategorinin ortalama süre ve ortalama Bütçesini bulun: (kategorileri seçmek için `for döngüsü` kullanın)

In [152]:
for i in categories:
    print(f"{i} kategorisinin süre ortalaması : ")
    display(df[df["Kategori"] == i]["Süre"].mean())
    print(f"{i} kategorisinin süre ortalaması : ")
    display(df[df["Kategori"] == i]["Bütçe"].mean())
    print("----" * 10)

Aksiyon kategorisinin süre ortalaması :

110.0

Aksiyon kategorisinin süre ortalaması :

2250000.0

----------------------------------------
Drama kategorisinin süre ortalaması :

120.0

Drama kategorisinin süre ortalaması :

750000.0

----------------------------------------
Komedi kategorisinin süre ortalaması :

90.0

Komedi kategorisinin süre ortalaması :

2000000.0

----------------------------------------
Drama kategorisinin süre ortalaması :

120.0

Drama kategorisinin süre ortalaması :

750000.0

----------------------------------------
Aksiyon kategorisinin süre ortalaması :

110.0

Aksiyon kategorisinin süre ortalaması :

2250000.0

----------------------------------------